user {{ nginx.user }};
worker_processes {{ nginx.worker_processes }};
pid {{ nginx.pid }};

events {
	worker_connections {{ nginx.events.worker_connections }};
}

http {

	{##
	# Basic Settings
	##}

	sendfile {{ nginx.http.sendfile }};
	tcp_nopush {{ nginx.http.tcp_nopush }};
	tcp_nodelay {{ nginx.http.tcp_nodelay }};
	keepalive_timeout {{ nginx.http.keepalive_timeout }};
	types_hash_max_size {{ nginx.http.types_hash_max_size }};

	include {{ nginx.root_dir }}/mime.types;
	default_type application/octet-stream;

	{##
	# SSL Settings
	##}

	ssl_protocols {{ nginx.http.ssl_protocols }};
	ssl_prefer_server_ciphers {{ nginx.http.ssl_prefer_server_ciphers }};

	{##
	# Logging Settings
	##}

	access_log {{ nginx.http.access_log }};
	error_log {{ nginx.http.error_log }};

	{##
	# Gzip Settings
	##}

	gzip {{ nginx.http.gzip }};
	gzip_disable {{ nginx.http.gzip_disable }};

	{% for item in nginx.http.gzip_settings %}
		{{ item }} {{ nginx.http.gzip_settings.get(item) }};
	{% endfor %}
	{##
	# Virtual Host Configs
	##}

	include {{ nginx.root_dir }}/{{ nginx.conf_dir }}/*.conf;
	include {{ nginx.root_dir }}/sites-enabled/*;
}
