server {
	listen {{ nginx.http.server.listen_port }};
	server_name {{ nginx.http.server.server_name }};
	root {{ nginx.www_root }}/{{ nginx.http.server.www_path[0] }};
	index {{ nginx.http.server.index_files }};
	ssl {{ nginx.http.server.ssl }};
	ssl_certificate {{ nginx.root_dir }}/{{ nginx.cert_dir }}/fullchain.pem;
  	ssl_certificate_key {{ nginx.root_dir }}/{{ nginx.cert_dir }}/privkey.pem;
  	ssl_protocols {{ nginx.http.server.ssl_protocols }};
}